{{ define "magnetsearch" }}
<!DOCTYPE html>
<html lang="en">
{{template "header"}}
<body>
<div class="container wrapper">
{{template "navi"}}
{{template "magnetsearcher" .}}
</div>
<div class="container sortbar">
    <div class="sort-box">
        <div class="sort-title">结果排序：</div>
        <ul class="sort-list">
            <li class="sort" value="date"><span class="glyphicon glyphicon-time"></span>创建时间</li>
            <li class="sort" value="size"><span class="glyphicon  glyphicon glyphicon-hdd ">文件大小</span></li>
            <li class="sort" value="hot"><span class="glyphicon glyphicon-hand-right ">下载热度</span></li>
        </ul>
    </div>
</div>
<div class="container result">
</div>
{{template "footer"}}
</body>
<script>
var magnets;
var keyword = $("#searchinput").val();
$.ajax({
    type: "get",
    url: "/magnet/getmagnets",
    data: {"keyword": keyword},
    beforeSend: function() {
        $(".result").append('<img src="/static/gif/loading.gif">');
    },
    success: renderResult,
    error: function (XMLHttpRequest, textStatus, errorThrown) {
        $(".result").empty();
        $(".result").append("获取数据失败 " + XMLHttpRequest.responseText);
    }
});

$(".sort-list li").click(function () {
    var sortMethod = $(this).attr("value");
    if (sortMethod == "date") {
        var dateOrder = magnets.sort(function (a, b) {
            var aDate = new Date(a["date"].replace("-", "/").replace("-", "/"));
            var bDate = new Date(b["date"].replace("-", "/").replace("-", "/"));
            if (aDate > bDate) return -1;
            if (aDate < bDate) return 1;
            return 0;
        });
        renderResult(dateOrder);
    } else if (sortMethod == "size") {
        var sizeOrder = magnets.sort(function (a, b) {
            return (b["size"] - a["size"]);
        });
        renderResult(sizeOrder);
    } else if (sortMethod == "hot") {
        var sizeOrder = magnets.sort(function (a, b) {
            return (b["hot"] - a["hot"]);
        });
        renderResult(sizeOrder);
    } else {

    }

});

function renderResult(response) {
    magnets = response;
    if (response === '' || response === null) {
        var totalCount = 0;
    } else {
        var totalCount = response.length;
    }
    $(".result").empty();
    $(".result").append(
            '<div class="total-count">' +
            '共搜索到 ' + totalCount + " 条结果" +
            '</div>' +
            '<div class="item-list">' +
            renderItemList(response) +
            '</div>'
    );
}

function renderItemList(response) {
    var itemHtml = '';
    if (response === '' || response === null) {
        return itemHtml;
    }
    $.each(response, function (index, item) {
        var title = item["title"];
        var magnet = item["magnet"];
        var size = item["size"];
        var formatSize = CalSize(size);
        var date = item["date"];
        var hot = item["hot"];
        var re = new RegExp(keyword, "gi");
        title = title.replace(re, "<span class='highlight'>" + keyword + "</span>");
        itemHtml += '<div class="item-box">' +
                '<div class="info-box">' +
                '<div class="title">' +
                '<a href="' + magnet + '">' + title + '</a>' +
                '</div>' +
                '<ul class="attribute">' +
                '<li>' + '创建日期：' + date + '</li>' +
                '<li>' + '大小：' + formatSize + '</li>' +
                '<li>' + '热度：' + hot + '</li>' +
                '<li>' + '<a href="' + magnet + '">' + '磁力链接' + '</a>' + '</li>' +
                '</ul>' +
                '</div>' +
                '</div>';
    });
    return itemHtml;
}
</script>
</html>
{{end}}