{{ define "movieindex" }}
<!DOCTYPE html>
<html lang="en">
{{template "header"}}
<body>
{{template "navi"}}
<div class="container recommend">
    <div class="container movies">
        <div class="title">
            热门电影
        </div>
        <div class="items">
            <div class="item">
                <div class="picture"><a href="/pan/search/色戒"><img src="https://img.xiguaimg.com/pic/uploadimg/2014-6/201461014341815822.jpg"></a></div>
                <div class="name"><a href="/pan/search/色戒">色戒</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/孟买酒店"><img src="https://i1.fuimg.com/10086/ca6b52e5f91b0273.jpg"></a></div>
                <div class="name"><a href="/pan/search/孟买酒店">孟买酒店</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/我是杜兰"><img src="https://i2.tiimg.com/10086/1d49cefc402b0083.jpg"></a></div>
                <div class="name"><a href="/pan/search/我是杜兰">我是杜兰</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/朽木"><img src="https://i2.tiimg.com/10086/b6120d44d906f665.jpg"></a></div>
                <div class="name"><a href="/pan/search/朽木">朽木</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/狂徒"><img src="https://i1.fuimg.com/10086/17b92d36e91676f5.jpg"></a></div>
                <div class="name"><a href="/pan/search/狂徒">狂徒</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/流浪地球"><img src="https://i1.fuimg.com/10086/85bfd3d8ea88d74e.jpg"></a></div>
                <div class="name"><a href="/pan/search/流浪地球">流浪地球</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/地久天长"><img src="https://i2.tiimg.com/10086/4beea1c68d563de5.jpg"></a></div>
                <div class="name"><a href="/pan/search/地久天长">地久天长</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/切尔诺贝利"><img src="https://i1.fuimg.com/10086/0b077805a3266f49.jpg"></a></div>
                <div class="name"><a href="/pan/search/切尔诺贝利">切尔诺贝利</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/勇往直前"><img src="https://0d077ef9e74d8.cdn.sohucs.com/reB6I6L_jpg"></a></div>
                <div class="name"><a href="/pan/search/勇往直前">勇往直前</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/大鸿米店"><img src="https://i1.fuimg.com/10086/94aad1c7d6ffc4e3.jpg"></a></div>
                <div class="name"><a href="/pan/search/大鸿米店">大鸿米店</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/续·终物语"><img src="https://i1.fuimg.com/10086/c36d75e016bbc12c.jpg"></a></div>
                <div class="name"><a href="/pan/search/续·终物语">续·终物语</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/小偷家族"><img src="https://i4.fuimg.com/10086/9d0954a88fadceca.jpg"></a></div>
                <div class="name"><a href="/pan/search/小偷家族">小偷家族</a></div>
            </div>
        </div>
    </div>
    <div class="container documents">
        <div class="title">
            热门文档
        </div>
        <div class="items">
            <div class="item">
                <div class="picture"><a href="/pan/search/毕业答辩模版"><img src="http://img.tukuppt.com/preview/7378450/00/05/91/5cb4165d5acfa.jpg-0.jpg!/fw/288"></a></div>
                <div class="name"><a href="/pan/search/毕业答辩模版">毕业答辩模版</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/PPT模版"><img src="http://img.tukuppt.com/preview/6704113/00/06/07/5cbb1ea0dbb961555766944.jpg-0.jpg!/fw/288"></a></div>
                <div class="name"><a href="/pan/search/PPT模版">PPT模版</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/工作总结模版"><img src="http://img.tukuppt.com/preview/2405811/00/04/87/5c8a21b620021.jpg-0.jpg!/fw/288"></a></div>
                <div class="name"><a href="/pan/search/工作总结模版">工作总结模版</a></div>
            </div>
            <div class="item">
                <div class="picture"><a href="/pan/search/简历模版"><img src="http://img.tukuppt.com/preview/1535477/00/00/06/5ae720535bab0.jpg-0.jpg!/fw/288"></a></div>
                <div class="name"><a href="/pan/search/简历模版">简历模版</a></div>
            </div>
        </div>
    </div>
</div>

{{template "footer"}}
</body>
</html>
{{ end }}