{{ define "panindex" }}
<!DOCTYPE html>
<html lang="en">
<title>网盘搜索 - 胖浩子搜索</title>
<meta name="keywords" content="胖浩子搜索,胖浩子,网盘搜索,云盘搜索,百度云盘,网盘搜索引擎,百度网盘">
<meta name="description" content="胖浩子搜索支持百度云搜索,可快速搜索百度网盘资源中的有效连接,自动识别无效的百度云网盘资源,每天更新海量资源。">
{{template "header"}}
<body>
{{/*{{template "navi"}}*/}}
<div class="container logo-wrap">
    <a href="/">
        <img class="logo" src="/static/img/logo.png">
    </a>
    <h1>网盘搜索</h1>
</div>
{{/*{{template "pansearcher"}}*/}}
<div class="searchbar">
    <div class="search-wrapper">
        <form id="panform" action="/pan/search" method="get">
            <div class="search-input-box">
                <input id="searchinput" name="keyword" type="text" placeholder="请输入搜索关键字" value="{{.}}" >
            </div>
            <div class="search-button-box">
                <button id="searchbutton" type="submit">搜索</button>
            </div>
        {{/*<div class="col-xs-12 col-sm-2 col-md-2">*/}}
        {{/*<button id="deepsearchbutton" type="submit" name="method" value="cache">深度搜索</button>*/}}
        {{/*</div>*/}}
        </form>
    </div>
</div>
{{template "hotkeys"}}
{{/*<div class="announcement-box">*/}}
    {{/*<span class="title">公告</span>*/}}
    {{/*<div class="content-box">*/}}
        {{/*<p class="content">新增了查询结果，查询后请留意最下方的翻页功能。</p>*/}}
    {{/*</div>*/}}
{{/*</div>*/}}
{{template "footer"}}
</body>
</html>
{{ end }}