{{ define "search" }}
<!DOCTYPE html>
<html lang="en">
<title>{{.Keyword}} - 网盘搜索 - 胖浩子搜索</title>
<meta name="keywords" content="{{.Keyword}}">
<meta name="description" content="{{.Keyword}} - 第{{.CurrentPageNumber}}页 - 网盘云资源 - 胖浩子搜索">
{{template "header"}}
<body>
{{template "pansearcher" .}}
<div class="container categorybar">
    <div class="category-title">结果筛选：</div>
    <div class="category-list">
        <div class="category glyphicon glyphicon-cloud" value="all">全部</div>
        <div class="category glyphicon glyphicon-film" value="video">视频</div>
        <div class="category glyphicon glyphicon-file" value="document">文档</div>
        <div class="category glyphicon glyphicon-music" value="audio">音乐</div>
        <div class="category glyphicon glyphicon-cloud-download" value="seed">种子</div>
        <div class="category glyphicon glyphicon-picture" value="picture">图片</div>
        <div class="category glyphicon glyphicon-folder-close" value="folder">文件夹</div>
        <div class="category glyphicon glyphicon-briefcase" value="archive">压缩包</div>
    </div>
</div>
<div class="notfound-box">
    <img src="/static/img/empty.png">
    <p>没有搜到，请更换关键词试试。</p>
    <p class="hot-try">试试下面的热搜词</p>
    {{template "hotkeys"}}
</div>
<div class="container totalCount">
    <p>共搜索出  <span>{{.TotalCount}}</span>  条结果</p>
</div>
<div class="container result">
    {{range $i, $item := .MetaDatas}}
        <div class="item-box">
            <div class="icon-box">
                <img id="icon" src="/static/img/{{$item.Icon}}">
            </div>
            <div class="info-box">
                <div class="title">
                    <a target="_blank" href="/pan/search/resource/{{$item.ID}}">{{$item.Title}}</a>
                </div>
                <ul class="attribute">
                    <li> 上传时间： {{$item.CTime}} </li>
                    <li> 大小： {{$item.Size}} </li>
                </ul>
            </div>
        </div>
    {{end}}
</div>
<div class="container showPage">
    <div class="pagination">
        {{range $i, $item := .Pages}}
            {{if eq $item.Href ""}}
                    <span>{{$item.Text}}</span>
            {{else}}
                <a class="{{$item.Class}}" href="{{$item.Href}}">{{$item.Text}}</a>
            {{end}}
        {{end}}
    </div>
</div>

{{template "footer"}}
</body>

<script>
    // $(document).ready(function () {
    //     pagination();
    // });


$(".category").click(function () {
    $(".category").removeClass("active");
    $(this).addClass("active");
    var category = $(this).attr("value");
    uri = window.location.href;
    key = "category";
    value = category;
    newURL = updateURLParam(uri, key, value);
    // set page number to 0
    newURL = updateURLParam(newURL, "page", "1");
    window.location.href = newURL;
});

function updateURLParam(uri, key, value) {
    if(value.length == 0) {
        return uri
    }
    var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
    var separator = uri.indexOf('?') !== -1 ? "&" : "?";
    if (uri.match(re)) {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
    }
    else {
        return uri + separator + key + "=" + value;
    }
}

function deleteURLParam(uri, key) {
    var re = new RegExp("(&)" + key + "=.*?(&|$)", "i");
    if (uri.match(re)) {
        return uri.replace(re, '$2');
    }
}

function pagination() {
    currentPageNum = {{.CurrentPageNumber}};
    totalCount = {{.TotalCount}};
    var pageSize = 20;
    $('.pagination').pagination(totalCount, {
        current_page: currentPageNum,
        ellipse_text: '...',
        num_edge_entries: 1,
        num_display_entries: 4,
        items_per_page: pageSize,
        prev_text:"上一页",
        next_text:"下一页",
        prev_show_always:true,
        next_show_always:true,
        show_firstEnd:false,
        first_text:"首页",
        end_text:"末页",
        callback: function (clickPageNum) {
            // console.log("click page", clickPageNum);
            uri = window.location.href;
            key = "page";
            value = clickPageNum;
            newURL = updateURLParam(uri, key, value);
            // console.log(newURL);
            window.location.href = newURL;
        }}
    );
}
</script>
</html>
{{ end }}