{{ define "pansearch" }}
<!DOCTYPE html>
<html lang="en">
{{template "header"}}
<body>
<div class="container wrapper">
{{template "navi"}}
{{template "pansearcher" .}}
</div>
<div class="container categorybar">
    {{/*<div class="category-box">*/}}
        <div class="category-title">结果筛选：</div>
        <div class="category-list">
            <div class="category glyphicon glyphicon-cloud" value="all">全部</div>
            <div class="category glyphicon glyphicon-film" value="video">视频</div>
            <div class="category glyphicon glyphicon-file" value="document">文档</div>
            <div class="category glyphicon glyphicon-music" value="audio">音乐</div>
            <div class="category glyphicon glyphicon-cloud-download" value="seed">种子</div>
            <div class="category glyphicon glyphicon-picture" value="picture">图片</div>
            <div class="category glyphicon glyphicon-folder-close" value="folder">文件夹</div>
            <div class="category glyphicon glyphicon-briefcase" value="archive">压缩包</div>
        </div>
    {{/*</div>*/}}
</div>
<div class="container result">
</div>
{{template "footer"}}
</body>

<script>
var keyword = $("#searchinput").val();
$.ajax({
    type: "get",
    url: "/pan/search/getrbdps",
    data: {"keyword": keyword},
    beforeSend: function() {
        // var randomNumber = parseInt(Math.random() * 3 + 1);
        // $(".result").append('<img src="/static/gif/' + randomNumber + '.gif">');
        $(".result").append('<img src="/static/gif/loading.gif">');
    },
    success: renderResult,
    error: function (XMLHttpRequest, textStatus, errorThrown) {
        $(".result").empty();
        $(".result").append("获取数据失败 " + XMLHttpRequest.responseText);
    }
});

$(".category").click(function () {
    $(".category").removeClass("active");
    $(this).addClass("active");
    // var currentUrl = window.location.href;
    // var urlPrefix = currentUrl.split("?")[0];
    // var queryString = location.pansearch;
    // var queryStringKeyword = queryString.split("&")[0];
    var keyword = $("#searchinput").val();
    var category = $(this).attr("value");
    // console.log(category);
    $.get("/pan/search/getrbdps", {"keyword": keyword, "category": category}, renderResult);

});

function renderResult(response) {
    if (response === '' || response === null) {
        var totalCount = 0;
    } else {
        var totalCount = response.length;
    }
    $(".result").empty();
    $(".result").append(
            '<div class="total-count">' +
            '共搜索到 ' + totalCount + " 条结果" +
            '</div>' +
            '<div class="item-list">' +
            renderItemList(response) +
            '</div>'
    );
}

function renderItemList(response) {
    var itemHtml = '';
    if (response === '' || response === null) {
        return itemHtml;
    }
    $.each(response, function (index, item) {
        var category = item["category"];
        var url = item["url"];
        var title = item["title"];
        var re = new RegExp(keyword, "gi");
        title = title.replace(re, "<span class='highlight'>" + keyword + "</span>");
        var ctime = item["ctime"];
        var size = item["size"];
        var resource = item["resource"];
        if (category == "video") {
            var icon = "video.png";
        } else if (category == "document") {
            var icon = "document.png";
        } else if (category == "audio" || category == "picture") {
            var icon = "file.png";
        } else if (category == "seed") {
            var icon = "seed.png";
        } else if (category == "folder") {
            var icon = "folder.png";
        } else if (category == "archive") {
            var icon = "archive.png";
        } else {
            var icon = "file.png";
        }
        // handle password
        // if (password != "") {
        //     var passwordHtml = '<li class="password">' + '密码：' + password + '</li>';
        // } else {
        //     var passwordHtml = '';
        // }
        // handle size
        var realSize = CalSize(size);
        itemHtml += '<div class="item-box">' +
                '<div class="icon-box">' +
                '<img id="icon" src="/static/img/' + icon + '">' +
                '</div>' +
                '<div class="info-box">' +
                '<div class="title">' +
                '<a target="_blank" href="javascript:void(0);" onclick="goto(\'' + url + '\')">' + title + '</a>' +
                '</div>' +
                '<ul class="attribute">' +
                    '<li>' + '上传时间：' + ctime + '</li>' +
                    '<li>' + '大小：' + realSize + '</li>' +
                    '<li>' + '渠道：' + resource + '</li>' +
                '</ul>' +
                '</div>' +
                '</div>';
    });
    return itemHtml;
}

function goto(url) {
    var request = new XMLHttpRequest();
    var data;
    request.open('POST', '/pan/search/getid', false);
    request.setRequestHeader("Content-Type", "application/json");
    data = JSON.stringify({"url": url});
    request.send(data);
    if (request.status === 200) {
        // console.log(request.responseText);
        var id = request.responseText;
        window.open("/pan/search/bdp/" + id + ".html");
    }
}
</script>
</html>
{{ end }}