body {
     margin: 0px;
     padding: 0px;
     font: normal 100% Helvetica, Arial, sans-serif;
     font-size: 14px;
     line-height: 1.5;
     word-spacing: 1px;
     letter-spacing: 1px;
 }
@media (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}
@media (min-width: 480px) {
    .logo {
        height: 70px;
        width: 100px;
    }
}
@media (max-width: 480px) {
    .logo {
        height: 50px;
        width: 70px;
    }
}
.logo {
    display: inline-block;
    margin-right: 5px;
}
.logo-wrap {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.logo-wrap h1 {
    display: inline-block;
    font-size: 2.0em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.searchbar-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    margin: 0 auto;
}
.searchbar {
    text-align: center;
    margin: 0 auto;
}
.logo-box {
    display: inline-block;
}
.search-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 650px;
    position: relative;
}
.search-input-box {
    display: inline-block;
}
.search-button-box {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
}
@media (max-width: 700px) {
    .header-wrapper {
        height: 100px;
    }
}
@media (min-width: 700px) and (max-width: 800px) {
    .header-wrapper {
        height: 127px;
    }
}
@media (min-width: 1024px) {
    .header-wrapper {
        height: 81px;
    }
}
@media (max-width: 480px) {
    .search-wrapper {
        width: 90%;
    }
    .search-input-box {
        width: 90%;
    }
}
@media (min-width: 480px) {
    .search-input-box {
        width: 650px;
    }
}
#searchinput {
    border: 1px solid black;
    border-radius: 30px;
    height: 46px;
    width: 100%;
    font-size: 1.2em;
    padding: 5px 70px 5px 15px;
    vertical-align: middle;
    outline: none;
}
#searchbutton {
    height: 46px;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    vertical-align: middle;
}
#searchbutton {
    background-color: royalblue;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
#searchbutton:hover {
    background-color: darkblue;
}
.showPage {
    text-align: center;
}
@media (max-width: 700px) {
    .hotkeys-wrapper {
        width: 90%;
    }
    .announcement-box {
        width: 90%;
    }
}
@media (min-width: 700px) {
    .hotkeys-wrapper {
        width: 700px;
    }
    .announcement-box {
        width: 700px;
    }
}
.hotkeys-wrapper {
    text-align: center;
    margin: 30px auto;
}
.hotkey-item {
    font-size: 1em;
    font-weight: bold;
    padding: 6px 15px;
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    transition: all .2s ease;
    color: #0078ff;
    background-color: #f5f5f5;
    display: inline-block;
}
.hotkey-item:hover {
    background-color: blue;
    color: white;
    text-decoration: none;
}
.announcement-box {
    margin: 50px auto;
}
.announcement-box .title {
    color: white;
    background-color: #fa541c;
    padding: 4px 10px;
    font-size: 1em;
    font-weight: 500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.announcement-box .content-box {
    text-align: center;
    border: 1px solid #fa541c;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.announcement-box p {
    margin: 0;
    padding: 15px;
    font-size: 1.1em;
}
.footbar {
    padding: 15px 0;
    text-align: center;
    font-size: 0.9em;
    color: #666;
}
.footbar p {
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
}
.footbar a:link {
    color: black;
}
.footbar a:hover {
    color: black;
}
.navibar {
}
.navimenu {
    display: inline-block;
}
.navimenu a {
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px 10px;
    color: royalblue;
    text-decoration: none;
}
@media (max-width: 500px) {
    .navimenu a {
        font-size: 1.1em;
        padding: 0 8px;
    }
}
.navimenu a:hover {
    color: white;
    background-color: royalblue;
    text-decoration: none;

}
.navimenu a:link {
    text-decoration: none;
}
.navi-box {
    text-align: center;
}
.categorybar {
    margin-bottom: 20px;
    margin-top: 20px;
    /*border-bottom: 1px solid #ddd;*/
}
.category-box {

}
.category-title {
    float: left;
    font-size: 1.2em;
    padding: 10px 5px;
    text-align: left;
    line-height: 30px;
}
.category-list {
    float: left;
}
.category {
    float: left;
    font-size: 1.2em;
    color: #D23141;
    padding: 10px 12px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
@media (max-width: 500px) {
    .category-title {
        font-size: 1em;
    }
    .category {
        font-size: 1em;
        float: left;
        padding: 10px 10px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }
}
.category.active {
    color: blue;
    /*border-bottom: 2px solid #0078ff;*/
    font-weight: bold;
}
.totalCount p {
    font-size: 1em;
}
.totalCount p span {
    color: royalblue;
    font-size: 1.2em;
    font-weight: 700;
}
.item-box {
    clear: both;
    overflow: auto;
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.notfound-box {
    text-align: center;
    display: none;
}
.notfound-box p {
    font-size: 1.2em;
}
.result .title {
    margin-bottom: 10px;
}
.result .title a {
    color: blue;
    font-size: 1.2em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}
.icon-box {
    float: left;
}
#icon {
    height: 50px;
    width: 50px;
}
@media (max-width: 500px) {
    #icon {
        height: 30px;
        width: 30px;
    }
}
.info-box {
    float: left;
    margin-left: 15px;
    width: 80%;
}
.attribute {
    padding: 0;
    margin: 0;
}
.attribute > li {
    margin: 0 15px;
}
.password {
    color: brown;
}
.result a:link { text-decoration: none;color: blue}
.result a:active { text-decoration:blink}
.result a:hover { text-decoration:underline;}
.result a:visited { text-decoration: none;color: darkblue}
.recommend {
    margin-bottom: 100px;
}
.recommend .title {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
.item {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.picture img {
    width: 145px;
    height: 200px;
}
.item .name {
    margin: 10px 0;
}
.bdpinfo {
    margin-top: 20px;
}
.bdpinfo .title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.bdpinfo .resource-meta {
    text-align: center;
    margin: 20px auto;
    font-size: 1.0em;
}
.password-meta {
    display: none;
}
.bdpinfo .resource-meta .info-item {
    border-radius: 2px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    display: inline-block;
    padding-right: 6px;
}
.resource-meta .infokey {
    display: inline-block;
    padding: 4px 6px;
    margin-right: 4px;
    background: #f2f2f2;
    border-right: 1px solid #ddd;
}
.bdpinfo .resource-meta .password-item {
    padding-right: 0;
    !important;
}
.copy {
    display: inline-block;
    cursor: pointer;
    color: #fa541c;
    padding: 4px 6px;
    background-color: rgba(250,84,28,.2);
    border-left: 1px solid #ddd;
    font-weight: 700;
}
.verifyPanURL {
    text-align: center;
    padding: 10px 0;
}
.verifyPanURL p {
    font-size: 1.2em;
}
.bdpinfo .btnbox {
    clear: both;
    text-align: center;
}
.bdpinfo .btn {
    background-color: #999999;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    vertical-align: middle;
}
.warning {
    margin-top: 100px;
}
.empty-box {
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
}
.empty-box img {
    margin-bottom: 30px;
}
.empty-box a {
    color: #0078ff;
}
.empty-box .comment {
    font-size: 1.2em;
}
.hot-try {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 50px;
}
.download {
    margin-top: 150px;
    margin-bottom: 100px;
}
.download p {
    line-height: 40px;
}
p.cmd {
    line-height: 50px;
    background-color: rgba(244,232,255,0.26);
}
.sortbar {
    display: block;
    margin-bottom: 20px;
    margin-top: 150px;
}
.highlight {
    color: #D23141;
}
.sort-title {
    float: left;
    padding: 10px 10px;
    line-height: 30px;
    font-size: 1.2em;
}
.sort-list {
    float: left;
}
.sort-list>li {
    float: left;
    list-style: none;
    padding: 10px 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 1.2em;
    color: chocolate;
}
@media (max-width: 500px) {
    .sort-title {
        font-size: 1em;
    }
    .sort-list>li {
        font-size: 1em;
    }
}
.qrcodeTitle {
    font-size: 1.2em;
    color: #fa541c;
}
@media (max-width: 700px) {
    .modal-dialog {
        width: 90%;
    }
}
@media (min-width: 700px) {
    .modal-dialog {
        width: 20%;
    }
}
.modal-body {
    padding: 0px;
    text-align: center;
}
#qrcodeImg {
    width: 230px;
}
/*
pagination
*/
.pagination .prev {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination .next {
    border-right: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination a, .pagination span {
    font-size: 1em;
    font-family: simsun;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-right: none;
    float: left;
    text-align: center;
    overflow: hidden;
}
.pagination a:hover{
    background-color: royalblue;
    color: white;
}
.pagination .current{
    background-color: royalblue;
    color: white;
}
.pagination .current.prev, .pagination .current.next {
    background-color: white;
    color: black;
}