{{ define "footer" }}
<div class="footbar">
    <div class="container">
        <p><a href="http://www.panghaozi.com">胖浩子</a></p>
        <a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备19003864号-1</a>
        <p><a href="javascript:alert('请发邮件至 zhouxing_good@yeah.net');">建议</a></p>
        <p>网站合作：zhouxing_good@yeah.net</p>
    </div>
    <div class="container">
        <p>以上内容由网络爬虫自动抓取，以非人工方式自动生成。本站不储存、复制、传播任何文件，其网盘资源文件的完整性需要您自行判断。</p>
    </div>
</div>
<script src="/static/js/jquery-1.12.4.min.js"></script>
<script src="/static/js/jquery.cookie.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/baidupush.js"></script>
<script src="/static/js/clipboard.min.js"></script>
{{ end }}