{{ define "footer" }}
<div class="footbar">
    <div class="container">
        <p><a href="http://www.panghaozi.com">胖浩子</a></p>
        <p>沪ICP备19003864号-1</p>
        <p><a href="javascript:alert('请发邮件至 zhouxing_good@yeah.net');">建议</a></p>
        <p>网站合作：zhouxing_good@yeah.net</p>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/common.js"></script>
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script src="/static/js/baidupush.js"></script>
{{ end }}