{{ define "header" }}
<head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="Keywords" content="胖浩子 - 全球资源最丰富的百度网盘和磁力搜索引擎, 是您工作、学习、娱乐的神器">
    <meta name="Description" content="胖浩子 - 全球资源最丰富的百度网盘和磁力搜索引擎, 是您工作、学习、娱乐的神器">
    <meta name="Abstract" content="胖浩子 - 全球资源最丰富的百度网盘和磁力搜索引擎, 是您工作、学习、娱乐的神器">
    <title>百度网盘和磁力搜索引擎 - 胖浩子</title>
    <link rel="shortcut icon" href="/static/img/ico.png">
    <link rel="stylesheet" href="/static/css/style.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
</head>
{{ end }}