{{define "hotkeys"}}
<div class="hotkeys-wrapper">
    <div class="hotkeys-box">
        <a href="/pan/search?keyword=%E8%AF%BE%E7%A8%8B" class="hotkey-item">课程</a>
        <a href="/pan/search?keyword=%E8%B5%84%E6%96%99" class="hotkey-item">资料</a>
        <a href="/pan/search?keyword=%E8%80%83%E7%A0%94" class="hotkey-item">考研</a>
        <a href="/pan/search?keyword=%E5%AD%A6%E4%B9%A0" class="hotkey-item">学习</a>
        <a href="/pan/search?keyword=%E4%B9%A6%E5%8D%95" class="hotkey-item">书单</a>
        <a href="/pan/search?keyword=%E8%8B%B1%E8%AF%AD" class="hotkey-item">英语</a>
        <a href="/pan/search?keyword=%E5%B0%8F%E8%AF%B4" class="hotkey-item">小说</a>
        <a href="/pan/search?keyword=%E6%BC%AB%E7%94%BB" class="hotkey-item">漫画</a>
        <a href="/pan/search?keyword=%E7%94%B5%E5%BD%B1" class="hotkey-item">电影</a>
        <a href="/pan/search?keyword=%E6%B8%B8%E6%88%8F" class="hotkey-item">游戏</a>
        <a href="/pan/search?keyword=%E7%94%B5%E5%AD%90%E4%B9%A6" class="hotkey-item">电子书</a>
        <a href="/pan/search?keyword=%E7%BE%8E%E5%A5%B3" class="hotkey-item">美女</a>
        <a href="/pan/search?keyword=python" class="hotkey-item">python</a>
    </div>
</div>
{{end}}